<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="articleListing" type="Examples.ArticlesSection, Examples"/>
  </configSections>

  <articleListing name="Mysteries Series">
    <article name="Unraveling" desc="Unraveling the Mysteries of .NET 2.0 Configuration" state="Completed" sequence="1"/>
    <article name="Decoding" desc="Decoding the Mysteries of .NET 2.0 Configuration" state="Completed" sequence="2"/>
    <article name="Cracking" desc="Cracking the Mysteries of .NET 2.0 Configuration" state="InProgress" sequence="3"/>
    <article name="Deciphering" desc="Deciphering the Mysteries of .NET 2.0 Configuration" state="Pending" sequence="4"/>
  </articleListing>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
  